@import url('https://fonts.googleapis.com/css2?family=Bpmf+Zihi+Kai+Std&family=Cairo:wght@200..1000&family=Poly:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
font-family: cursive, serif;
}

body{
    background-color: #151a21;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100px;
    box-shadow: 0 0 10px 10px #00e5ff;
    margin-top: 2%;
    margin-bottom: 50px;
}

.tlitel{
    color: #e6edf3;
    margin-left: 40%;
    margin-right: 40%;
}

.home{
    display: flex;
    margin-left: 10px;
}

.flappy_bird{
margin-left: 40px;

}

